<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" href="../layui/css/layui.css">
	<link rel="stylesheet" href="../css/main.css">
</head>
<body class="iframe_body">
	<div class="frame_content">
		<div class="clearfix" style="margin-bottom: 30px;">
			<span class="text_1 fl" style="line-height: 30px;">来源：</span>			
			<div class="tool_3 fl">
				<div class="b1">推广部 全部</div>
				<div class="b2">
					<ul>
						<li class="has_ul">
							<span>推广部</span>
							<ul>
								<li>全部</li>
								<li>微信浏览器</li>
							</ul>
						</li>
						<li>
							<span>推广部</span>
						</li>
						<li>
							<span>推广部</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="tBox" style="margin-bottom: 20px;">
			<div class="bar_group_1 layui-form clearfix">
				<ul class="time_group_1 clearfix fl">
					<li data-index='0'>今天</li>
					<li data-index='1'>昨天</li>
					<li data-index='7'>最近7天</li>
					<li data-index='30'>最近30天</li>
				</ul>
				<div class="date_input_1 fl">
					<input type="text" class="layui-input" id="test1" placeholder="请选择时间范围" autocomplete="off">
				</div>
				<div>
				<span class="label_1 fl">
					<input type="checkbox" lay-skin="primary" title="比较"></div>
				</span>
				<div class="date_input_1 fl">
					<input type="text" class="layui-input" id="test2" placeholder="请选择时间范围" autocomplete="off">
				</div>
				<span class="label_1 fl">共30天</span>
			</div>
			<div class="bar_group_2">
				<ul class="clearfix">
					<li class="on">
						<div>
							<p>总流水</p>
							<h4>9,926,560</h4>
							<p>环比 -13.50%<img src="../img/down_2.png" /></p>
						</div>
					</li>
					<li>
						<div>
							<p>总业绩</p>
							<h4>9,926,560</h4>
							<p>环比 -13.50%<img src="../img/down_2.png" /></p>
						</div>
					</li>
					<li>
						<div>
							<p>待付款金额</p>
							<h4>9,926,560</h4>
							<p>环比 -13.50%<img src="../img/down_2.png" /></p>
						</div>
					</li>
					<li>
						<div>
							<p>退款金额</p>
							<h4>9,926,560</h4>
							<p>环比 -13.50%<img src="../img/down_2.png" /></p>
						</div>
					</li>
					<li>
						<div>
							<p>流水订单量</p>
							<h4>9,926,560</h4>
							<p>环比 -13.50%<img src="../img/up_1.png" /></p>
						</div>
					</li>
					<li>
						<div>
							<p>客单价</p>
							<h4>9,926,560</h4>
							<p>环比 -13.50%<img src="../img/up_1.png" /></p>
						</div>
					</li>
				</ul>
			</div>
			<div id="box_1" style="width: 100%;height: 400px;"></div>
		</div>
		<div class="tBox">
			<div class="tool_3 tool_3_1">
				<div class="b1">时间单位：合计</div>
				<div class="b2">
					<ul>
						<li>
							<span>合计</span>
						</li>
						<li>
							<span>按天</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="table_qs" style="margin-top: 30px;">
				<div class="hd">
					<ul>
						<li>日期</li>
						<li>流水</li>
						<li>流水量订单</li>
						<li>退款金额</li>
						<li>退款率</li>
						<li>待付款金额</li>
						<li>待付款订单量</li>
						<li>客单价(平均)</li>
					</ul>
				</div>
				<div class="bd">
					<ul>
						<li>
							<ul>
								<li>2019-11-03 </li>
								<li>456,668</li>
								<li>16,587</li>
								<li>8,110</li>
								<li>10%</li>
								<li>45,112</li>
								<li>890</li>
								<li>3,500</li>
							</ul>
						</li>
						<li>
							<ul>
								<li>2019-11-03 </li>
								<li>456,668</li>
								<li>16,587</li>
								<li>8,110</li>
								<li>10%</li>
								<li>45,112</li>
								<li>890</li>
								<li>3,500</li>
							</ul>
						</li>
						<li>
							<ul>
								<li>变化量</li>
								<li>100,000</li>
								<li>10,000</li>
								<li>-2,000</li>
								<li>-2%</li>
								<li>-15,000</li>
								<li>-290</li>
								<li>500</li>
							</ul>
						</li>
						<li>
							<ul>
								<li>变化率</li>
								<li class="color_add">↑+1.10%</li>
								<li>↑+2.10%</li>
								<li class="color_cut">↓-30.5%</li>
								<li>↓-2%</li>
								<li>↓-2%</li>
								<li>↓-2%</li>
								<li>↓-2%</li>
							</ul>
						</li>
					</ul>
					<ul>
						<li>
							<ul>
								<li>2019-11-03 </li>
								<li>456,668</li>
								<li>16,587</li>
								<li>8,110</li>
								<li>10%</li>
								<li>45,112</li>
								<li>890</li>
								<li>3,500</li>
							</ul>
						</li>
						<li>
							<ul>
								<li>2019-11-03 </li>
								<li>456,668</li>
								<li>16,587</li>
								<li>8,110</li>
								<li>10%</li>
								<li>45,112</li>
								<li>890</li>
								<li>3,500</li>
							</ul>
						</li>
						<li>
							<ul>
								<li>变化量</li>
								<li>100,000</li>
								<li>10,000</li>
								<li>-2,000</li>
								<li>-2%</li>
								<li>-15,000</li>
								<li>-290</li>
								<li>500</li>
							</ul>
						</li>
						<li>
							<ul>
								<li>变化率</li>
								<li>↑+1.10%</li>
								<li>↑+2.10%</li>
								<li>↓-30.5%</li>
								<li>↓-2%</li>
								<li>↓-2%</li>
								<li>↓-2%</li>
								<li>↓-2%</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<!-- 分页 -->
			<div class="page_1">
				<a href="" class="prev"></a>
				<a href="">1</a>
				<a href="" class="active">2</a>
				<a href="">3</a>
				<a href="" class="next"></a>
				<div class="page_bar">
					<div class="hd">10条每页</div>
					<ul class="bd">
						<li>5条</li>
						<li class="on">10条</li>
						<li>20条</li>
						<li>50条</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="../js/jquery.js"></script>
<script src="../js/echarts.min.js"></script>
<script src="../layui/layui.all.js"></script>
<script>
	var laydate = layui.laydate;
	var form = layui.form;
	laydate.render({
		elem: '#test1',
		range: true,
	});
	laydate.render({
		elem: '#test2',
	});
	//获取距离当前之前某天的日期
	function getSartDay(num) {
		var t=new Date();
		var iToDay=t.getDate();
		var iToMon=t.getMonth();
		var iToYear=t.getFullYear();
		var sartDay = new Date(iToYear,iToMon,(iToDay-num));
		var starDate = sartDay.getFullYear()+'-'+(sartDay.getMonth()+1)+'-'+sartDay.getDate()
		return starDate	
	}
	$(function() {
		//快捷按钮点击
		$('.time_group_1 li').click(function() {
			var num = $(this).data('index')
			var startDate = getSartDay(num)//开始日期
			var endDate = getSartDay(0)//今天
			$(this).addClass('on').siblings().removeClass('on')
			$('#test1').val(startDate+' - '+endDate)
		})
	})
	var myChart5 = echarts.init(document.getElementById('box_1'));
	var data5 = [
		["2000-07-04", 82],
		["2000-07-05", 44],
		["2000-07-06", 72],
		["2000-07-07", 106],
		["2000-07-08", 107],
		["2000-07-09", 66],
		["2000-07-10", 91],
		["2000-07-11", 92],
	];
	var data5_1 = [
		["2000-08-04", 12],
		["2000-08-05", 144],
		["2000-08-06", 172],
		["2000-08-07", 16],
		["2000-08-08", 17],
		["2000-08-09", 166],
		["2000-08-10", 191],
		["2000-08-11", 192],
	];
	var dateList5 = data5.map(function(item) {
		return item[0];
	});
	var dateList5_1 = data5_1.map(function(item) {
		return item[0];
	});
	var valueList5 = data5.map(function(item) {
		return item[1];
	});
	var valueList5_1 = data5_1.map(function(item) {
		return item[1];
	});
	var option5 = {
		color: ['#2157bf','#1dbfcc'],
		legend: {
			y: 'bottom',
			//icon: 'rectangle',
			//itemHeight: 1,
			data: ['2019/11/1~2019/11/15','2019/12/1~2019/12/15']
		},
		tooltip: {
			trigger: 'axis',
			formatter: function(params) {
				var idx1 = null
				var data1 = ''
				var _html = ''
				if(params.length>1) {
					idx1 = params[1].dataIndex
					data1 = params[1].data;
					_html = "<ul class='databox1 databox1_1'>"+
								"<li><p>"+params[0].axisValue+"</p><div><span><b style='background: "+params[0].borderColor+"'></b>流水</span><i>"+params[0].value+"</i></div></li>"+
								"<li><p>"+dateList5_1[idx1]+"</p><div><span><b style='background: "+params[1].borderColor+"'></b>流水</span><i>"+data1+"</i></div></li>"+
							"</ul>"
				}else {
					_html = "<ul class='databox1'>"+
								"<li><p>"+params[0].axisValue+"</p><div><span><b style='background: "+params[0].borderColor+"'></b>流水</span><i>"+params[0].value+"</i></div></li>"+
							"</ul>"
				}
				return _html
				
			},
			extraCssText: 'background: none;border: 0;'
		},
		grid: {
			x:0,
			y:20,
			x2:22,
			y2:40,
			containLabel: true
		},
		visualMap: [{
			show: false,
			type: 'continuous',
			seriesIndex: 0,
			min: 0,
			max: 400
		}],
		xAxis: {
			type: 'category',
			data: dateList5,
			axisTick: {
				alignWithLabel: true
			},
			axisLabel: {
				textStyle: {
					color: '#333'
				},
				interval: 1,//x轴显示个数
			},
			axisLine: {
				show: true, // X轴 网格线 颜色类型的修改
				lineStyle: {
					color: '#d9d9d9'
				}
			},
			//data: ['2019年10月1日', '2019年10月15日', '2019年10月30日']
		},
		yAxis: {
			axisLine: {
				show: true,
				lineStyle: {
					color: '#d9d9d9'
				}
			},
			axisTick: {
				show: false
			},
			axisLabel: {
				textStyle: {
					color: '#333'
				}
			},
			splitLine: {
				show: false,
			}
		},
		series: [
			{
				data: valueList5,
				name: '2019/11/1~2019/11/15',
				type: 'line',
				smooth: false,
				showSymbol: true,
				symbolSize: 6,
				itemStyle: {
					normal:{
						borderColor: "#1a43a9",
						lineStyle:{
							color:'#1a43a9'
						}
					},
				}		
			},
			{
				data: valueList5_1,
				name: '2019/12/1~2019/12/15',
				type: 'line',
				smooth: false,
				showSymbol: true,
				symbolSize: 6,
				itemStyle: {
					normal:{
						borderColor: "#1dbfcc",
						lineStyle:{
							color:'#1dbfcc'
						}
					},
				}		
			}
		]
	}
	myChart5.setOption(option5);
	setTimeout(function() {
		myChart5.resize();
	},50)
	$(window).resize(function() {
		myChart5.resize();
	})
</script>
</html>
