<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" href="../layui/css/layui.css">
	<link rel="stylesheet" href="../css/main.css">
</head>
<div class="htmladd htmlwrap">
	<div class="dislog_wrap layui-form" id="content_add">
		<div class="dialog_edit_1">
			<h3>创建角色</h3>
			<div class="edit_form" style="height: 240px;">
				<div class="error_wrap_1">
					<p>您输入的手机号有误</p>
				</div>
				<div class="form_line" style="padding-top: 30px;">
					<label>角色名称：</label>
					<div class="input_box">
						<input type="text" placeholder="请输入">
					</div>
				</div>
				<div class="form_line">
					<label>角色描述：</label>
					<div class="input_box">
						<textarea rows="" cols="" placeholder="请输入至少五个字符"></textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="htmledit htmlwrap">
	<div class="dislog_wrap layui-form" id="content_edit">
		<div class="dialog_edit_1">
			<h3>编辑</h3>
			<div class="edit_form" style="height: 240px;">
				<div class="error_wrap_1">
					<p>您输入的手机号有误</p>
				</div>
				<div class="form_line" style="padding-top: 30px;">
					<label>角色名称：</label>
					<div class="input_box">
						<input type="text" placeholder="请输入">
					</div>
				</div>
				<div class="form_line">
					<label>角色描述：</label>
					<div class="input_box">
						<textarea rows="" cols="" placeholder="请输入至少五个字符"></textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="htmldelete htmlwrap">
	<div class="dislog_wrap layui-form" id="content_delete">
		<div class="dialog_delet_1">
			<h3>操作提示</h3>
			<p>你确定要删除该账号？</p>
		</div>
	</div>
</div>
<body class="iframe_body">
	<div class="frame_content">
		<div>
			<div class="topbar_group_1">
				<div class="bar_inline_1" style="margin: 0;">
					<label>角色名称：</label>
					<input type="text" placeholder="请输入">
				</div>
				<span class="search_btn_1" style="margin: 0 16px 0 20px;">搜索</span>
				<a href="javascript:;" class="add_btn_1" onclick="add()">创建角色</a>
			</div>
			<div class="tab_wrap tab_wrap_com tab_wrap_5">
				<div class="hd">
					<ul>
						<li>ID</li>
						<li>角色名</li>
						<li>描述</li>
						<li>创建时间</li>
						<li>操作</li>
					</ul>
				</div>
				<div class="bd">
					<ul>
						<li>
							<span>1</span>
							<span>管理员</span>
							<span>系统管理员</span>
							<span>2019-12-24  10:21</span>
							<span>
								<div class="table_cz_wrap">
									<em class="table_cz" onclick="delete1()">删除</em>|<em class="table_cz" onclick="edit()">编辑</em>
								</div>
							</span>
						</li>
						<li>
							<span>1</span>
							<span>管理员</span>
							<span>系统管理员</span>
							<span>2019-12-24  10:21</span>
							<span>
								<div class="table_cz_wrap">
									<em class="table_cz">删除</em>|<em class="table_cz">编辑</em>
								</div>
							</span>
						</li>
						<li>
							<span>1</span>
							<span>管理员</span>
							<span>系统管理员</span>
							<span>2019-12-24  10:21</span>
							<span>
								<div class="table_cz_wrap">
									<em class="table_cz">删除</em>|<em class="table_cz">编辑</em>
								</div>
							</span>
						</li>
						<li>
							<span>1</span>
							<span>管理员</span>
							<span>系统管理员</span>
							<span>2019-12-24  10:21</span>
							<span>
								<div class="table_cz_wrap">
									<em class="table_cz">删除</em>|<em class="table_cz">编辑</em>
								</div>
							</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="page_1">
				<a href="" class="prev"></a>
				<a href="">1</a>
				<a href="" class="active">2</a>
				<a href="">3</a>
				<a href="" class="next"></a>
				<div class="page_bar">
					<div class="hd">10条每页</div>
					<ul class="bd">
						<li>5条</li>
						<li class="on">10条</li>
						<li>20条</li>
						<li>50条</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="../js/jquery.js"></script>
<script src="../layui/layui.all.js"></script>
<script>
	var $ = layui.jquery
	var _htmladd = $('.htmladd').html()
	var _htmledit = $('.htmledit').html()
	var _htmldelete = $('.htmldelete').html()
	//console.log(_htmladd)
	function add() {
		parent.layer.open({
			type: 1,
			title: '',
			closeBtn : 2,
			skin: 'dialog_class',
			area: ['640px','auto'],
			btn: ['取消','保存'],
			btn1: function(index,layero) {//点击取消按钮
				layer.close(index);
			},
			btn2: function(index,layero) {//点击保存按钮
				
			},
			content: _htmladd
		});
	}
	function edit() {
		parent.layer.open({
			type: 1,
			title: '',
			closeBtn : 2,
			skin: 'dialog_class',
			area: ['640px','auto'],
			btn: ['取消','保存'],
			btn1: function(index,layero) {//点击取消按钮
				parent.layer.close(index);
			},
			btn2: function(index,layero) {//点击保存按钮
				
				return false
			},
			content: _htmledit
		});
	}
	function delete1() {
		parent.layer.open({
			type: 1,
			title: '',
			closeBtn : 0,
			skin: 'dialog_class',
			area: ['416px','auto'],
			btn: ['取消','继续'],
			btn1: function(index,layero) {//点击取消按钮
				parent.layer.close(index);
			},
			btn2: function(index,layero) {//点击保存按钮
				
			},
			content: _htmldelete
		});
	}
</script>
</html>
